<div class="col-lg-4 col-sm-6 mb-4">
  <article class="card shadow">
    {{ if .Params.image }}
    <a href="{{.Permalink}}" title="{{.Title }}"><img class="rounded card-img-top" src="{{.Params.Image | relURL}}" alt="{{.Title }}"></a>
    {{ end }}
    <div class="card-body" style="background-color:#ffcfa6;">
      <h3 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
      </h3>
      <p class="card-text">{{.Summary | truncate 100}}</p>
      <a href="{{.Permalink}}" class="btn btn-sm btn-primary text-dark">Read More</a>
    </div>
  </article>
</div>
